@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: .2s;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    @apply bg-1
}

.container2 {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container2 {
        max-width: 1350px;
    }
}

#nav + nav {
    transition: .4s;
}

#nav:checked + nav {
    left: 0;
}
